*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{

}
/* Header */

header{
    height: 100vh;
}

.top-header{
    background-color: #19bd9b;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
    color: white;
}

.header_info{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header_info i{
    width: 40px;
    margin-right: 10px;
    height: 40px;
    border: solid 2px #FFF; 
    border-radius: 50%;
    position: relative;
}
.header_info i:hover{
    transition: 0.5s;
    background-color: #FFF;
}
.header_info i:not(:hover){
    transition: 0.5s;
}

.header_info img{
    position: absolute;
    right: 30%;
    top: 30%;
    filter: brightness(100);
}

.header_info i:hover .aa{
    filter: brightness(1);
} 

.bottom_header{
    position: relative;
    padding: 21px 15px;
}

.bottom_header ul{
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bottom_header a{
    position: relative;
    padding: 20px 5px;
}

.bottom_header li:first-child a{
    color: #19bd9b
}

.active::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #19bd9b;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

nav li a:hover{
    color: #19bd9b;
    transition: 0.3s;
}

nav li a:hover::after{
    width: 100%;
}
/* Footer */
.container{
    display: flex;
}

header .container{
    height: 100%;
}

iframe{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}